.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    &__image {
        max-width: 350px;
        max-height: 525px;
    }
    &__results-list {
        padding-left: 16px;
        color: var(--q-accent);
    }
}
